
.btnchangepassword{
    margin-bottom: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.resetgroup h2{
    margin-top: 3%;
    margin-bottom: 3%;
}

.resetgroup p{
    margin-top: 3%;
    margin-bottom: 4%;
}