.contactus {
  background-color: red;
}

.piccon {
  background-color: blue;
}

.detcon {
  background-color: green;
}

.emailcontactus {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
